/* Overdiding body styling */
body{
	background-color: #f9f9f9;
	font-family: 'Libre Baskerville', serif;
}

.jumbotron{
	background-image: url("../images/field.jpeg") ;
	background-size: cover;
	height: 550px;
}
hr{
	background-color: white;
	width: 90%;
	margin-left: 0px;
}

/* Section area starts here */
section h2{
	font-family: 'Merriweather', serif;
}

/* Article area starts here */
article{
	background-image: url("../images/farm.jpeg");
	background-repeat: no-repeat;
	height: 500px;
}
article h2{
	font-family: 'Merriweather', serif;
}
.padtop{
	padding-top: 150px;
}
.padtop button{
	 margin-top: 20px;
	 width: 180px;
}

/* Footer area starts here */
footer{
	background-color: #4b4949;
	font-family: 'EB Garamond', serif;
}
strong{
	text-decoration: underline;
	letter-spacing: 1px;
}